/* Primary Personal Portfolio:
* Description: style sheet for css
* Author: Justin Lowe
*/
/* Adjust style for body */
header  {
    background-color: rgb(75, 80, 90);
    color: rgb(209, 225, 246);
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header h1{
    color:rgb(176, 196, 222)
}
header nav{
    list-style: none;
    display: inline-block;
}
body {
    background-color: rgb(209, 225, 246)
}

/* Adjust style for h1 */
h1 { 
    color: #000000;
}

/* Adjust style for h2 */
h2 {
font-style: italic;
border-bottom: 3px solid #000000; /* Add a line below h2s */
}

/* Adjust style for ul */
ul {
list-style-type: square; /* Changes the bullets to squares */
}

/* Adjust style of hover color */
a:hover{
    background-color: rgb(216, 216, 216 ); color: black;
}

footer  {
    background-color: rgb(75, 80, 90);
    color: white;
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
